.playscreen{
  /* border-top: 200px; */
  position: absolute;
  height: 700px;
  width: 1000px;
  background-color: darkgrey;
  }

#score {
  text-align: center;
  color: white;
}

#playerbase{
  height: 200px;
  width: 50px;
  background-color: royalblue;
}

/* #highbtn{
  text-align: right;
} */
