body{
  text-align: center;
}

#connect4 {
  background-color: grey;
  display: inline-block;
  padding: 5px;

}

.col {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 2px;
}

.col.empty {
  cursor: pointer;
}

.next-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.next-black {
  background-color: rgba(0, 0, 0, 0.2);
}

.col.red {
  background-color: red;
}

.col.black {
  background-color: black;
}
